*{
    font-family: 'Comic Sans MS', sans-serif;
}

h1{
    font-size: 60px;
}
p{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
body {
    background-image: url("images/page3.jpg");
    /* background-color: #cccccc; */
   } 

div{
    text-align: center;
}

#scorecontainer{
    padding: 1%;
    font-size: 30px;
    /* border: 2px solid grey; */
}

#score{
    margin: 1%;
}
#win_lose{
    font-size: 30px;
}

#rock{
    background-image: url(images/rock.png);
    margin:2%;
    height: 300px;
    width: 300px;
    /* border: 2px solid grey; */
    border-radius: 20px;;
    text-align: center;
    cursor: pointer;
}

#paper{
    background-image: url(images/paper.png);
    margin:2%;
    height: 300px;
    width: 300px;
    /* border: 2px solid grey; */
    border-radius: 20px;;
    text-align: center;
    cursor: pointer;
}

#scissors{
    background-image: url(images/scissors.png);
    margin:2%;
    height: 300px;
    width: 300px;
    /* border: 2px solid grey; */
    border-radius: 20px;;
    text-align: center;
    cursor: pointer;
}